body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #000;
    font-family: sans-serif;
    flex-direction: column;
}

.game-container {
    border: 5px solid blue; /* Batas labirin */
    background-color: black;
}

#pacman-canvas {
    display: block;
}

#score {
    color: yellow;
    margin-top: 10px;
    font-size: 1.5em;
    text-align: center;
}
