body {
    background: #000;
    color: #fff;
    text-align: center;
    font-family: Arial, sans-serif;
}

canvas {
    border: 3px solid #fff;
    margin-top: 10px;
}

#ui {
    margin: 10px;
    font-size: 22px;
}

#controls {
    margin-top: 20px;
    display: inline-block;
}

#controls button {
    width: 70px;
    height: 70px;
    font-size: 30px;
    margin: 5px;
    border-radius: 10px;
    background: #222;
    color: white;
    border: 2px solid #555;
}

#controls > div {
    display: flex;
    justify-content: center;
}
