body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #000;
    color: #fff;
    font-family: sans-serif;
    flex-direction: column;
}

#game-container {
    text-align: center;
}

h1 {
    color: yellow;
}

#gameCanvas {
    /* Memberikan batas agar canvas terlihat */
    border: 3px solid #33f;
    background-color: black;
    display: block;
}

#status {
    color: limegreen;
    font-weight: bold;
}
